name: Build and deploy JAR app to Azure Web App - appISW2E

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    env:
      DB_USER_SUPABASE: ${{ secrets.DB_USER_SUPABASE }}
      DB_PWD_SUPABASE: ${{ secrets.DB_PWD_SUPABASE }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java version
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'microsoft'

      - name: Build with Maven
        run: mvn clean install

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: java-app
          path: '${{ github.workspace }}/target/*.jar'

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    env:
      DB_USER_SUPABASE: ${{ secrets.DB_USER_SUPABASE }}
      DB_PWD_SUPABASE: ${{ secrets.DB_PWD_SUPABASE }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: java-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_0C0A1778529F4AEF82098000FF0569EF }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_A2E4CFC36F2E4AC498D54DAF5FD0A194 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_131F90F9180D4320A1F8C28B7428EB35 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'appISW2E'
          slot-name: 'Production'
          package: '*.jar'
//fin
